<h1>Admin Login</h1>
<h1>Welcome {{fc.secretData}}, to St. Croix Valley Interactive Map</h1>

<div ng-hide="fc.loggedIn">
  <div id="adminLogin">
    <h4>email:</h4>
    <input type="text" ng-model="fc.email">
    <h4>password: </h4>
    <input type="password" ng-model="fc.password"><br><br>

    <button class="btn" ng-click="fc.signInWithEmail(fc.email, fc.password)">Sign In</button> or
    <button class="btn" type="submit" ng-click="fc.logIn()"><img id="googleButton" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1000px-Google_%22G%22_Logo.svg.png"
    alt="Submit">Sign in with Google</button><br><br>
    <h5> Not registered? </h5>
    <button class="btn" ng-click="fc.registerWithEmail(fc.email, fc.password)">Register and Sign In as New User</button>
  </div>
</div>

<button class="btn" ng-click="fc.logOut()" ng-hide="fc.loggedOut">Log Out</button>

<div class="container" ng-show="fc.loggedIn">
  <div id="adminLanding">
    <div class="form-group col-sm-3 col-sm-offset-2">
      <label for="places" class="form-label">Places:</label>
      <select ng-model="fc.place" class="form-control" id="places">
        <option value="" disabled selected>Select</option>
        <option name="addPlace">Add Place</option>
        <option name="editDeletePlace">Edit/Delete Place</option>
      </select>
      <button ng-click="fc.adminPlace(fc.place)" class="btn submitbutton" type="submit" value="Submit">Go!</button>
    </div>

    <div class="form-group col-sm-3 col-sm-offset-1">
      <label for="trips" class="form-label">Trips:</label>
      <select ng-model="fc.trip" class="form-control" id="trips">
        <option value="" disabled selected>Select</option>
        <option name="addTrip">Add Trip</option>
        <option name="editDeleteTrip">Edit/Delete Trip</option>
      </select>
      <button ng-click="fc.adminTrip(fc.trip)" class="btn submitbutton" type="submit" value="Submit">Go!</button>
    </div>
  </div>
</div>

<!-- add location modal -->
<div class="add-place-modal container">
  <script type="text/ng-template" id="addPlaceModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title title" id="modal-title">{{apmic.addPlaceTitle}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
      <form id="addPlaceForm">
        Name: <input type="text" ng-model="apmic.place.name" placeholder="place name" maxlength="85" size="85"></br>
        Street: <input type="text" ng-model="apmic.place.street" placeholder="street address" maxlength="85" size="85"></br>
        City: <input type="text" ng-model="apmic.place.city" placeholder="city" maxlength="35" size="35"></br>
        State: <input type="radio" ng-model="apmic.place.state" value="MN">MN<input type="radio" ng-model="apmic.state" value="WI">WI</br>
        Zip: <input type="text" ng-model="apmic.place.zipcode" placeholder="zip code" maxlength="10" size="10"></br>
        Phone: <input type="text" ng-model="apmic.place.phone" placeholder="phone i.e. 715-555-1111" maxlength="15" size="15"></br>
        Website: <input type="text" ng-model="apmic.place.website" placeholder="website i.e. newplace.com" maxlength="85" size="85"></br>
        Description: <input type="text" ng-model="apmic.place.description" placeholder="description" maxlength="1400" size="400"></br>
        Type: <input type="radio" ng-model="apmic.place.types_id" value="1">Dining</br>
          <input type="radio" ng-model="apmic.place.types_id" value="2">Shopping</br>
          <input type="radio" ng-model="apmic.place.types_id" value="3">Nature</br>
          <input type="radio" ng-model="apmic.place.types_id" value="4">Lodging</br>
      </form>
      <div ng-show="apmic.success">
        {{apmic.successMessage}}
      </div>
      <div ng-show="apmic.failed">
        {{apmic.failedMessage}}
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-warn" type="button" ng-click="apmic.cancel()">Cancel</button>
      <button class="btn btn-primary" type="button" ng-click="apmic.addNewPlace(apmic.place)">Add Place</button>
    </div>
  </script>
</div>
