<div id="mySidenav" class="sidenav">
  <!-- <li class="closebtn" ng-click="mc.closeNav()">&times;</li> -->
  <h3><i class="fa fa-car"></i> Suggested Trips</h3>
  <nav>
    <ul ng-repeat="trip in mc.allTrips">
      <li ng-click="mc.suggested(trip)" class="tripName">{{trip.name}}
        <ul class="tripDescription">
          <li>Trip Description: {{trip.description}}</li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div class="main">
  <div id="menu" class="navbar-fixed-top">

      <a href="http://saintcroixriver.com/" class="col-xs-3 col-sm-3"><img src="../styles/logo.png" id="logo"><span class="space"></span></a>
      <div class="col-xs-9 col-sm-9">
        <button ng-class="mc.diningClass" ng-click="mc.toggleDining()" class="col-xs-3 col-sm-3"><i class="fa fa-cutlery"></i>Dining<span class="space"></span></button>
        <button ng-class="mc.lodgingClass" ng-click="mc.toggleLodging()" class="col-xs-3 col-sm-3"><i class="fa fa-bed"></i>Lodging<span class="space"></span></button>
        <button ng-class="mc.tripsClass" ng-click="mc.openNav()" class="col-xs-3 col-sm-3"><i class="fa fa-car"></i>Trips<span class="space"></span></button>
        <button ng-class="mc.natureClass" ng-click="mc.toggleNature()" class="col-xs-3 col-sm-3"><i class="fa fa-tree"></i>Nature<span class="space"></span></button>
        <button ng-class="mc.shoppingClass" ng-click="mc.toggleShopping()" class="col-xs-3 col-sm-3"><i class="fa fa-shopping-bag"></i>Shopping<span class="space"></span></button>
        <button class="reset col-xs-3 col-sm-3" ng-click="mc.resetMap()"><i class="fa fa-refresh"></i>Reset Map<span class="space"></span></button>
      </div>
  </div>

  <div class="gmap">

    <ng-map id="map" default-style="false" zoom="11" center="[44.79, -92.6044]" on-click="mc.map.hideInfoWindow('mapwindow')" options="{{mc.options}}">

      <custom-marker id="x{{place.id}}" ng-if="mc.showDining" ng-repeat="place in mc.diningPins track by $index" position=[{{place.latitude}},{{place.longitude}}] on-click="mc.showDetail(place)">
        <div class="marker">
          <i class="fa fa-cutlery"></i>
        </div>
      </custom-marker>
      <custom-marker id="x{{place.id}}" ng-if="mc.showLodging" ng-repeat="place in mc.lodgingPins track by $index" position=[{{place.latitude}},{{place.longitude}}] on-click="mc.showDetail(place)">
        <div class="marker">
          <i class="fa fa-bed"></i>
        </div>
      </custom-marker>
      <custom-marker id="x{{place.id}}" ng-if="mc.showShopping" ng-repeat="place in mc.shoppingPins track by $index" position=[{{place.latitude}},{{place.longitude}}] on-click="mc.showDetail(place)">
        <div class="marker">
          <i class="fa fa-shopping-bag"></i>
        </div>
      </custom-marker>
      <custom-marker id="x{{place.id}}" ng-if="mc.showNature" ng-repeat="place in mc.naturePins track by $index" position=[{{place.latitude}},{{place.longitude}}] on-click="mc.showDetail(place)">
        <div class="marker">
          <i class="fa fa-tree"></i>
        </div>
      </custom-marker>


      <custom-marker id="x{{place.id}}" ng-if="mc.showTrip" ng-repeat="place in mc.selectedTripPins track by $index" position=[{{place.latitude}},{{place.longitude}}] on-click="mc.showDetail(place)">
        <div class="marker carImage">
          <i class="fa fa-car"></i>
        </div>
      </custom-marker>

      <directions
         draggable="true"
         panel="directions-panel"
         travel-mode="DRIVING"
         waypoints="{{mc.wayPoints}}"
         origin="current-location"
         destination="{{mc.lastStop}}"
         >
      </directions>

      <info-window id="mapwindow">
        <div ng-non-bindable="">
          <h3>{{mc.place.name}}</h3><br/>
          <a href="#" ng-click="mc.clicked(mc.place)">Click Here for More Info</a>
        </div>
      </info-window>

    </ng-map>

    <div ng-show="mc.directions" class="directionsSidenav" id="directions-panel" style="width: 25%; float:left; height: 100%; overflow: auto; padding: 0px 5px">
      <h2>{{mc.trip.name}}</h2>
      <h4><span id="tripStop">Trip Stops: </span>{{mc.locationsInTripString}} </h4>
    </div>

  </div>
</div>

<!-- detailed info window modal -->
<div class="detailed-info-modal container">
  <script type="text/ng-template" id="detailedPlaceInfo.html">
    <div class="modal-header">
      <h3 class="modal-title title" id="modal-title">{{dpic.name}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
      {{dpic.street}}</br>
      {{dpic.city}}, {{dpic.state}}  {{dpic.zipcode}}</br>
      {{dpic.phone}}</br>
      <p><a href="http://{{dpic.website}}">{{dpic.website}}</a></p>
      <p>{{dpic.description}}</p>
      <img id="placeImg" ng-src='{{dpic.imageurl}}'>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="dpic.okay()">OK</button>
    </div>
  </script>
</div>
